.footer {
    background-color: #000000;
    padding: 70px 0 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  }
  
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
  
  .footer .footerB h3 {
    color: white;
    font-size: 50px;
    margin: 30px;
  }
  
  .footer .footerB .social {
    display: flex;
  }
  
  @media (max-width: 767px) {
    .footer .footerB .social {
      justify-content: center;
    }
  }
  
  .footer .footerB .social li {
    margin-right: 10px;
  }
  
  .footer .footerB .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
  }
  
  .footer .footerB .social .facebook:hover {
    background-color: #1877f2;
  }
  
  .footer .footerB .social .twitter:hover {
    background-color: #1da1f2;
  }
  
  .footer .footerB .social .youtube:hover {
    background-color: #655894;
  }
  
  .footer .footerB .text {
    line-height: 2;
    color: #b9b9b9;
  }
  
  .footer .footerB .links li {
    padding: 15px 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  
  .footer .footerB .links li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  
  .footer .footerB .links li:hover {
    padding-left: 10px;
  }
  
  .footer .footerB .links li:hover a {
    color: white;
  }
  
  .footer .footerB .links li a {
    color: #b9b9b9;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  
  .footer .footerB .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
  }
  
  .footer .footerB .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
  }
  
  @media (max-width: 767px) {
    .footer .footerB .line {
      flex-direction: column;
    }
  }
  
  .footer .footerB .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
  }
  
  @media (max-width: 767px) {
    .footer .footerB .line i {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  
  .footer .footerB .line .info {
    line-height: 1.7;
    flex: 1;
  }
  
  .footer .footerB .line .info span {
    display: block;
  }
  
  .footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
  }
  
  .footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
  }
  
  iframe {
    margin: 0  0 0 800px;
  }